<div class="aboutme-container-swiper">
  <div class="aboutme-swiper-wrapper swiper">
    <ul class="aboutme-swiper-list swiper-wrapper">
      <li class="aboutme-swiper-item swiper-slide">
        <p class="aboutme-swiper-text">HTML/CSS</p>
      </li>
      <li class="aboutme-swiper-item swiper-slide">
        <p class="aboutme-swiper-text">JavaScript</p>
      </li>
      <li class="aboutme-swiper-item swiper-slide">
        <p class="aboutme-swiper-text">React</p>
      </li>
      <li class="aboutme-swiper-item swiper-slide">
        <p class="aboutme-swiper-text">Node. js</p>
      </li>
      <li class="aboutme-swiper-item swiper-slide">
        <p class="aboutme-swiper-text">React Native</p>
      </li>
      <li class="aboutme-swiper-item swiper-slide">
        <p class="aboutme-swiper-text">Soft skills</p>
      </li>
      <!--Додатковий комплект елементів-->
      <li class="aboutme-swiper-item swiper-slide">
        <p class="aboutme-swiper-text">HTML/CSS</p>
      </li>
      <li class="aboutme-swiper-item swiper-slide">
        <p class="aboutme-swiper-text">JavaScript</p>
      </li>
      <li class="aboutme-swiper-item swiper-slide">
        <p class="aboutme-swiper-text">React</p>
      </li>
      <li class="aboutme-swiper-item swiper-slide">
        <p class="aboutme-swiper-text">Node.js</p>
      </li>
      <li class="aboutme-swiper-item swiper-slide">
        <p class="aboutme-swiper-text">React Native</p>
      </li>
      <li class="aboutme-swiper-item swiper-slide">
        <p class="aboutme-swiper-text">Soft skills</p>
      </li>
    </ul>
  </div>
  <div class="aboutme-swiper-button-wrap">
    <button type="button" class="aboutme-swiper-btn">
      <svg class="aboutme-swiper-icon">
        <use href="./img/icons.svg#icon-aboutme-arrow"></use>
      </svg>
    </button>
  </div>
</div>
