<ul class="about_me_accordion-section">
  <li class="accordion">
    <div data-tab="tab-1" class="accordion_title acc-1">
      <h3>about me</h3>
      <span>
        <svg class="icons">
          <use href="./img/icons.svg#icon-arrow-down"></use>
        </svg>
      </span>
    </div>
    <div id="tab-1" class="accordion_content">
      <ul>
        <li>
          <p>
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills and am able to effectively solve even the most
            difficult tasks encountered on the way.
          </p>
        </li>

        <li>
          <p>
            Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work.I am always looking for opportunities for
            self-improvement. I actively study new technologies and practices to
            stay abreast of the latest innovations. I have a strong
            understanding of various programming languages, frameworks and
            architectural concepts that allow me to create efficient and
            scalable software.
          </p>
        </li>
      </ul>
    </div>
  </li>

  <li class="accordion">
    <div data-tab="tab-2" class="accordion_title">
      <h3>role</h3>
      <span>
        <svg class="icons">
          <use href="./img/icons.svg#icon-arrow-down"></use>
        </svg>
      </span>
    </div>
    <div id="tab-2" class="accordion_content acc-2">
      <ul>
        <li>
          <p>Frontend development</p>
        </li>
        <li>
          <p>HeadlessCMS,Wordpress</p>
        </li>
        <li>
          <p>Blender(enjoy)</p>
        </li>
      </ul>
    </div>
  </li>

  <li class="accordion">
    <div data-tab="tab-3" class="accordion_title">
      <h3>education</h3>
      <span>
        <svg class="icons">
          <use href="./img/icons.svg#icon-arrow-down"></use>
        </svg>
      </span>
    </div>
    <div id="tab-3" class="accordion_content acc-3">
      <ul>
        <li>
          <p>
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
          </p>
        </li>
        <li>
          <p>
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
            NewYork
          </p>
        </li>
        <li>
          <p>2020 - 2022 / Advanced Blender Animation Techniques, Udemy</p>
        </li>
      </ul>
    </div>
  </li>
</ul>
