<section class="covers">
  <h2 class="visually-hidden">Covers</h2>
  <div class="container covers-container">
    <ul class="covers-list">
      <li class="covers-item">
        <img
          src="./img/covers/image1.jpg"
          alt="StarlightStudio"
          srcset="./img/covers/image1.jpg 1x, ./img/covers/image1_2x.jpg 2x"
          loading="lazy"
          class="covers-image"
        />
      </li>
      <li class="covers-item">
        <img
          src="./img/covers/image2.jpg"
          alt="English Excelence"
          srcset="./img/covers/image2.jpg 1x, ./img/covers/image2_2x.jpg 2x"
          loading="lazy"
          class="covers-image"
        />
      </li>
      <li class="covers-item">
        <img
          src="./img/covers/image3.jpg"
          alt="Fruibox"
          srcset="./img/covers/image3.jpg 1x, ./img/covers/image3_2x.jpg 2x"
          loading="lazy"
          class="covers-image"
        />
      </li>
      <li class="covers-item">
        <img
          src="./img/covers/image4.jpg"
          alt="Energy Flow"
          srcset="./img/covers/image4.jpg 1x, ./img/covers/image4_2x.jpg 2x"
          loading="lazy"
          class="covers-image"
        />
      </li>
    </ul>
    <ul class="covers-list">
      <li class="covers-item">
        <img
          src="./img/covers/image4.jpg"
          alt="Energy Flow"
          srcset="./img/covers/image4.jpg 1x, ./img/covers/image4_2x.jpg 2x"
          loading="lazy"
          class="covers-image"
        />
      </li>
      <li class="covers-item">
        <img
          src="./img/covers/image5.jpg"
          alt="Jewerly"
          srcset="./img/covers/image5.jpg 1x, ./img/covers/image5_2x.jpg 2x"
          loading="lazy"
          class="covers-image"
        />
      </li>
      <li class="covers-item">
        <img
          src="./img/covers/image6.jpg"
          alt="Wallet"
          srcset="./img/covers/image6.jpg 1x, ./img/covers/image6_2x.jpg 2x"
          loading="lazy"
          class="covers-image"
        />
      </li>
      <li class="covers-item">
        <img
          src="./img/covers/image7.jpg"
          alt="Green Harvest"
          srcset="./img/covers/image7.jpg 1x, ./img/covers/image7_2x.jpg 2x"
          loading="lazy"
          class="covers-image"
        />
      </li>
    </ul>
    <ul class="covers-list">
      <li class="covers-item">
        <img
          src="./img/covers/image8.jpg"
          alt="Ukrainian artistry"
          srcset="./img/covers/image8.jpg 1x, ./img/covers/image8_2x.jpg 2x"
          loading="lazy"
          class="covers-image"
        />
      </li>

      <li class="covers-item">
        <img
          src="./img/covers/image9.jpg"
          alt="Mimino"
          srcset="./img/covers/image9.jpg 1x, ./img/covers/image9_2x.jpg 2x"
          loading="lazy"
          class="covers-image"
        />
      </li>
      <li class="covers-item">
        <img
          src="./img/covers/image10.jpg"
          alt="Power pulse"
          srcset="./img/covers/image10.jpg 1x, ./img/covers/image10_2x.jpg 2x"
          loading="lazy"
          class="covers-image"
        />
      </li>
      <li class="covers-item">
        <img
          src="./img/covers/image6.jpg"
          alt="Wallet"
          srcset="./img/covers/image6.jpg 1x, ./img/covers/image6_2x.jpg 2x"
          loading="lazy"
          class="covers-image"
        />
      </li>
    </ul>
    <ul class="covers-list">
      <li class="covers-item">
        <img
          src="./img/covers/image1.jpg"
          alt="StarlightStudio"
          srcset="./img/covers/image1.jpg 1x, ./img/covers/image1_2x.jpg 2x"
          loading="lazy"
          class="covers-image"
        />
      </li>
      <li class="covers-item">
        <img
          src="./img/covers/image2.jpg"
          alt="English Excelence"
          srcset="./img/covers/image2.jpg 1x, ./img/covers/image2_2x.jpg 2x"
          loading="lazy"
          class="covers-image"
        />
      </li>
      <li class="covers-item">
        <img
          src="./img/covers/image3.jpg"
          alt="Fruibox"
          srcset="./img/covers/image3.jpg 1x, ./img/covers/image3_2x.jpg 2x"
          loading="lazy"
          class="covers-image"
        />
      </li>
      <li class="covers-item">
        <img
          src="./img/covers/image10.jpg"
          alt="Power pulse"
          srcset="./img/covers/image10.jpg 1x, ./img/covers/image10_2x.jpg 2x"
          loading="lazy"
          class="covers-image"
        />
      </li>
    </ul>
  </div>
</section>
