<footer class="footer-section" id="work-together">
  <div class="footer-container container">
    <div class="footer-box">
      <div class="footer-top">
        <picture>
          <source
            srcset="
              ./img/footer/image-mob-1x-min.jpg 1x,
              ./img/footer/image-mob-2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/footer/image-tab-1x-min.jpg 1x,
              ./img/footer/image-tab-2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="footer-img"
            src="./img/footer/image-mob-1x-min.jpg"
            alt="Profile"
          />
        </picture>
        <h2 class="footer-text">
          Let&prime;s&nbsp;<span class="footer-text-span">work</span>
        </h2>
      </div>
      <div><h2 class="footer-text-bottom">together</h2></div>
    </div>
    <form class="footer-form">
      <div class="footer-input-container">
        <input
          class="footer-input"
          id="email"
          type="email"
          name="email"
          placeholder="clients@gmail.com"
        />
        <input
          id="comments"
          class="footer-input"
          name="footer comments"
          type="text"
          placeholder="comments"
        />
        <button class="footer-btn-send" type="submit">Send</button>
      </div>
    </form>
    <address>
      <ul class="footer-contacts">
        <li class="footer-contacts-item">
          <a class="link-info" href="lloydjefferson@gmail.com"
            >lloydjefferson@gmail.com</a
          >
        </li>
        <li class="footer-contacts-item">
          <a class="link-info" href="tel:+38011111111111">+380 11 1111 11 11</a>
        </li>
      </ul>
    </address>
  </div>
</footer>
<div class="backdrop is-open">
  <div class="modal">
    <button type="button" class="modal-close-btn">x</button>
    <p class="titel-modal">Thank you for your interest in cooperation!</p>
    <p class="text-modal">
      The manager will contact you shortly to discuss further details and
      opportunities for cooperation. Please stay in touch.
    </p>
  </div>
</div>
