<header class="header" id="header-id">
<div class="container header-section">
  <a href="./index.html" class="home-link">
   <picture>
        <source
        srcset="
        ../img/jefferson-photo-2x-min.jpg 2x,
        ../img/jefferson-photo-min.jpg 1x
        "/>
        <img src="../img/jefferson-photo-min.jpg" alt="me" class="jeff-photo">
      </picture>
      <span class="logo-link-text">
        jefferson*
      </span>
  </a>

<button type="button" class="mob-menu-open-btn">
  <svg class="mob-menu-open-btn-icon" width="21" height="9">
    <use href="../img/icons.svg#icon-burger"></use>
    </svg>
</button>
<div class="drop-menu">
  <button type="button" class="header-menu">Menu</button>
  <nav class="drop-menu-nav">
      <ul class="drop-menu-list">
        <li class="drop-menu-item">
          <a href="#aboutme-id" class="drop-menu-link">About me</a>
        </li>
        <li class="drop-menu-item">
          <a href="#benefits" class="drop-menu-link">
            Benefits
          </a>
        </li>
        <li class="drop-menu-item">
          <a href="#projects" class="drop-menu-link">
            Projects
          </a>
        </li>
        <li class="drop-menu-item">
          <a href="#faq-section-id" class="drop-menu-link">
            FAQ
          </a>
        </li>
      </ul>
    </nav>
</div>
<a href="#work-together" class="order-btn">Order the project</a>
</div>
<div class="mob-menu">
  <button type="button" class="mob-menu-close-btn">
    <svg class="mob-menu-close-btn-icon" width="14" height="14">
    <use href="../img/icons.svg#icon-close-mob-menu"></use>
    </svg>
    </button>
    <nav class="mob-menu-nav">
      <ul class="mob-menu-list">
        <li class="mob-menu-item">
          <a href="#aboutme-id" class="mob-menu-link">About me</a>
        </li>
        <li class="mob-menu-item">
          <a href="#benefits-id" class="mob-menu-link">
            Benefits
          </a>
        </li>
        <li class="mob-menu-item">
          <a href="#projects-id" class="mob-menu-link">
            Projects
          </a>
        </li>
        <li class="mob-menu-item">
          <a href="#faq-section-id" class="mob-menu-link">
            FAQ
          </a>
        </li>
      </ul>
    </nav>
    <a href="#work-together" class="mob-order-btn">Order the project</a>
</header>