<section id="projects" class="projects-section">
  <div class="container">
    <h2 class="projects-title">Projects</h2>
    <div class="swiper swiper-container">
      <ul class="swiper-wrapper">
        <li class="swiper-wrap swiper-slide">
          <div class="project-card">
            <ul class="content-list">
              <li class="content">#react</li>
              <li class="content">#js</li>
              <li class="content">#node.js</li>
              <li class="content">#git</li>
            </ul>
            <h3 class="programming">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              href="https://mogilevs.github.io/project4/"
              target="_blank"
              class="see-projects-desk"
              >See projects</a
            >
          </div>
          <div class="project-slide">
            <img
              srcset="
                ./img/expand.x2.desktop.jpg 2x,
                ./img/expand.x1.desktop.jpg 1x
              "
              src="./img/expand.x1.desktop.jpg"
              alt="expand your mind, reading a book"
              class="project-image-one"
              loading="lazy"
            />
          </div>
        </li>
        <li class="swiper-slide swiper-wrap">
          <div class="project-card">
            <ul class="content-list">
              <li class="content">#react</li>
              <li class="content">#js</li>
              <li class="content">#node.js</li>
              <li class="content">#git</li>
            </ul>
            <h3 class="programming">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              href="https://mogilevs.github.io/project4/"
              target="_blank"
              class="see-projects-desk"
              >See projects</a
            >
          </div>
          <div class="project-slide">
            <img
              srcset="
                ./img/pets.x2.desktop.jpg 2x,
                ./img/pets.x1.desktop.jpg 1x
              "
              src="./img/pets.x1.desktop.jpg"
              alt="woman with a dog"
              class="project-image-two"
              loading="lazy"
            />
          </div>
        </li>
        <li class="swiper-slide swiper-wrap">
          <div class="project-card">
            <ul class="content-list">
              <li class="content">#react</li>
              <li class="content">#js</li>
              <li class="content">#node.js</li>
              <li class="content">#git</li>
            </ul>
            <h3 class="programming">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              href="https://mogilevs.github.io/project4/"
              target="_blank"
              class="see-projects-desk"
              >See projects</a
            >
          </div>
          <div class="project-slide">
            <img
              srcset="
                ./img/register.x2desktop.jpg  2x,
                ./img/register.x1.desktop.jpg 1x
              "
              src="./img/register.x1.desktop.jpg"
              alt="register"
              class="project-image-three"
              loading="lazy"
            />
          </div>
        </li>
      </ul>
      <div class="swiper-buttons">
        <div class="swiper-button-prev">
          <svg class="turn-left" width="25" height="24">
            <use href="./img/icons.svg#icon-arrow-left"></use>
          </svg>
        </div>
        <div class="swiper-button-next">
          <svg class="turn-right" width="25" height="24">
            <use href="./img/icons.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
