<section class="review-section">
  <div class="container">
    <h2>Reviews</h2>
    <div class="slider-container review-slider-container">
      <div class="swiper-container review-swiper-container">
        <div class="swiper review-swiper">
          <ul class="swiper-wrapper js-reviews-list"></ul>
        </div>
      </div>
      <div class="button-control" id="custom-control">
        <button type="button" class="button-prev swiper-button-lock">
          <svg class="arrow-icon">
            <use href="./img/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button type="button" class="button-next swiper-button-lock">
          <svg class="arrow-icon">
            <use href="./img/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
