.aboutme-accordion-section {
  margin-bottom: 32px;
}

.accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.accordion_title {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 32px;
}

.accordion_title span {
  display: inline-block;
  position: relative;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 9px;
  width: 36px;
  height: 36px;
  background-color: transparent;
  transform: rotate(0);
  transition: transform 0.5s ease-out;
}

.accordion_title.active span {
  transform: rotate(180deg);
}

.accordion_title.active {
  padding-bottom: 0;
}

.accordion_content {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #fafafa;

  max-height: 0;
  opacity: 0;
  visibility: hidden;

  transition: max-height 0.5s ease-out, padding 0.5s ease-out,
    opasity 0.1s ease-out, visibility 0.1s ease-out 0.5s;
}

.accordion_content.active {
  margin-top: 12px;
  margin-bottom: 20px;
  visibility: visible;
  opacity: 1;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out,
    opasity 0.1s ease-out, visibility 0.1s ease-out 0.5s;
}

.accordion_content ul {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
}

.icons {
  fill: transparent;
  stroke: #d9d9d9;
}

.acc-1 {
  padding-top: 0;
}

.acc-2 ul,
.acc-3 ul {
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .aboutme-accordion-section {
    margin-bottom: 64px;
  }

  .accordion_content.active {
    margin-top: 8px;
    margin-bottom: 32px;
  }

  .accordion_content ul {
    gap: 16px;
  }

  .accordion_title {
    padding-top: 32px;
  }

  .acc-1 {
    padding-top: 0;
  }

  .accordion_title span {
    padding: 10px;
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .aboutme-accordion-section {
    margin-bottom: 96px;
  }

  .accordion_content ul {
    gap: 32px;
    margin-right: 68px;
    margin-left: 696px;
  }

  .acc-3 ul {
    margin-right: 215px;
  }

  .acc-3 ul li:first-child {
    padding-right: 96px;
  }
}
