 
 /* Covers */

 .covers{
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
 }

 .covers-container{

    padding-left: 0;
    padding-right: 0;
    /* max-width: 375px; */
    height: 508px;
    backdrop-filter: blur(30px);
    background: rgba(217, 217, 217, 0.04);
    background-image: url('../img/covers/covers-background-mob.jpg');
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
   

 }

 @media screen and (min-resolution: 192dpi) and (min-width: 320px) {
     .covers-container {
         background-image: url('../img/covers/covers-background-mob_2x.jpg');
     }
 }
 .covers-image{
    width: 282px;
    height: 162px;
        
 }

 .covers-list{
    display: flex;
    transform: rotate(17deg);
    transform-origin: right;
    
 }

.covers-item{
background-size: cover;
    flex-shrink: 0;
    margin-bottom: 35px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    
}

.covers.animate .covers-item{
animation-name: marqueeLine;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes marqueeLine {
    from {
        transform: translateX(-20%);
    }

    to {
        transform: translateX(-180%);
    }
}

/* Covers-min-width: 768px */

@media screen and (min-width: 768px) {
 .covers{
    padding-top: 48px;
    padding-bottom: 48px;
 } 
 
 .covers-container {

     height: 960px;
     background-image: url('../img/covers/covers-background-tab.jpg');
   
 }
 @media screen and (min-resolution: 192dpi) {
     .covers-container {
         background-image: url('../img/covers/covers-background-tab_2x.jpg');
     }
 }

  .covers-image {
    width: 544px;
    height: 314px;

  }
  
  .covers-item{
    margin-bottom: 60px;
    margin-right: 40px;
  }

}

/* Covers-min-width: 768px */

@media screen and (min-width: 1440px) {
.covers {
    padding-top: 82px;
    padding-bottom: 82px;
    }

 .covers-container {

     background-image: url('../img/covers/covers-bacground-desk.jpg');

 }

 @media screen and (min-resolution: 192dpi) {
     .covers-container {
         background-image: url('../img/covers/covers-background-desk_2x.jpg');
     }
 }

}

 


 






