.faq-section {
  padding-top: 32px;
  padding-bottom: 32px;
}

.faq-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  text-transform: uppercase;
  margin-bottom: 32px;
}

.accordion-container-faq .ac {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  border-top: 1px solid rgba(250, 250, 250, 0.2);
  margin: 0;
}

.accordion-container-faq .ac .ac-header {
  margin: 0;
  padding: 0;
  min-width: 320px;
  color: #fafafa;
}
.accordion-container-faq .ac .ac-trigger {
  padding-right: 52px;
}

.accordion-container-faq > .ac .ac-trigger::after {
  display: none;
  padding-left: 20px;
}

.accordion-container-faq .ac .ac-trigger:hover {
  border-color: #fafafa;
}

.faq-list-item {
  position: relative;
  border-bottom: 10px solid rgba(250, 250, 250, 0.2);
  border-top: 10px solid rgba(250, 250, 250, 0.2);
  min-height: 74px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq-question-text {
  padding: 0;
  max-width: 265px;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #fafafa;
  background: #1c1d20;
  margin: 0;
  position: relative;
}

.faq-show-text-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid rgba(250, 250, 250, 0.5);
  background-color: transparent;
  margin-left: 20px;
  transition: border-color 350ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.arrow-up {
  transform: rotate(180deg);
}

.faq-show-text-button:hover {
  border-color: #fafafa;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.ac-trigger:hover .faq-question-text {
  color: rgba(250, 250, 250, 0.8);
}

.ac-trigger:hover .faq-show-text-button {
  border-color: #fafafa;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.faq-icon {
  stroke: #fafafa;
}

.faq-hide-text {
  font-style: normal;
  color: rgba(250, 250, 250, 0.6);
  padding-top: 16px;
  letter-spacing: -0.015em;
}

/* ---------------------TABLET---------------------------- */

@media screen and (min-width: 768px) {
  .faq-section {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .faq-list-item {
    padding-top: 32px;
    padding-bottom: 32px;
    min-height: 104px;
  }

  .accordion-container-faq .ac .ac-trigger {
    padding-right: 90px;
  }

  .accordion-container-faq > .ac .ac-trigger::after {
    padding-left: 20px;
  }
  .accordion-container-faq .ac:last-child .ac-trigger {
    padding-right: 220px;
  }
  .faq-show-text-button {
    width: 40px;
    height: 40px;
    margin-left: 90px;
  }

  .faq-hide-text {
    margin-right: 48px;
  }
}

/* ---------------------DESKTOP---------------------------- */

@media screen and (min-width: 1440px) {
  .faq-section {
    padding-top: 82px;
    padding-bottom: 82px;
  }

  .faq-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 64px;
    border-top: 1px solid rgba(250, 250, 250, 0.2);
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  }

  .faq-list-item {
    width: calc(50% - 32px);
    box-sizing: border-box;
    border: none;
  }

  .accordion-container-faq .ac {
    border: none;
  }

  .accordion-container-faq .ac .ac-trigger {
    padding-right: 62px;
  }

  .accordion-container-faq .ac:last-child .ac-trigger {
    padding-right: 181px;
  }

  .faq-hide-text {
    margin: 0;
    max-width: 656px;
  }

  .faq-list-item:nth-child(odd)::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0px;
    right: -32px;
    width: 1px;
    background-color: rgba(250, 250, 250, 0.2);
  }

  .faq-list-item:nth-child(even)::after {
    content: '';
    position: absolute;
    left: -720px;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: rgba(250, 250, 250, 0.2);
  }
}
