a {
  list-style-type: none;
}

img {
  display: block;
}
.header {
  position: absolute;
    top: 34px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  width: 100%;
  z-index: 1;
}

.header-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.home-link {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.jeff-photo {
  border-radius: 18px;
  width: 80px;
  height: 80px;
}

.logo-link-text {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.mob-menu-open-btn {
  display: flex;
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: none;
  padding: 0;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-open-btn:hover,
.mob-menu-open-btn:focus {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
    inset 0 5px 10px rgba(255, 255, 255, 0.2),
    inset 0 3px 3px rgba(255, 255, 255, 0.2);
}

.mob-menu {
  position: fixed;
  transform: translateX(100%);
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-image: url(../img/background-mob-menu.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 32px 16px 64px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 350ms cubic-bezier(0.4, 0, 0.2, 1),
  opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
}


@media (min-resolution: 192dpi) {
  .mob-menu {
    background-image: url(../img/background-mob-menu-2x.png);
  }
}

.is-open {
  pointer-events: auto;
  transform: translateX(0%);
  display: flex;
  opacity: 1;
  visibility: visible;
}

.mob-menu-open-btn-icon {
  fill: none;
  stroke: #fafafa;
}

.mob-menu-close-btn {
  padding: 0;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  transition: border 350ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-close-btn:hover {
  border: 1px solid #ed3b44;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
    inset 0 5px 10px rgba(255, 255, 255, 0.2),
    inset 0 3px 3px rgba(255, 255, 255, 0.2);
}

.mob-menu-close-btn-icon {
  fill: none;
  stroke: #fafafa;
}

.mob-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 80px;
}

.mob-menu-link {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fafafa;
  border-radius: 2px;
  transition: font-size 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-link:hover,
.mob-menu-focus {
font-size: 18px;
color: #ed3b44;
}

.mob-order-btn {
  display: flex;
  border-radius: 60px;
  padding: 14px 31px;
  width: 164px;
  height: 45px;
  background: #ed3b44;
  border: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
  align-items: center;
  transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-order-btn:hover,
.mob-order-btn:focus {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
    inset 0 5px 10px rgba(255, 255, 255, 0.2),
    inset 0 3px 3px rgba(255, 255, 255, 0.2);
}

.order-btn {
  display: none;
}

.header-menu {
  display: none;
}

.drop-menu {
  display: none;
}

@media (min-width: 768px) {
  .mob-menu-open-btn {
    display: none;
  }

  .order-btn {
    display: flex;
    border-radius: 60px;
    padding: 18px 24px;
    width: 163px;
    height: 55px;
    background: #ed3b44;
    border: none;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fafafa;
    align-items: center;
    transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .order-btn:hover,
  .order-btn:focus {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
    inset 0 5px 10px rgba(255, 255, 255, 0.2),
    inset 0 3px 3px rgba(255, 255, 255, 0.2);
  }

  .header-menu {
    display: block;
    width: 67px;
    height: 39px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fafafa;
    background-color: transparent;
    border: none;
    border-radius: 40px;
    margin-bottom: 8px;
    transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1),
    border 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-menu:hover,
  .header-menu:focus {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
    inset 0 5px 10px rgba(255, 255, 255, 0.2),
    inset 0 3px 3px rgba(255, 255, 255, 0.2);
  }

  .drop-menu {
    display: block;
    position: relative;
  }

  .drop-menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .drop-menu-link {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fafafa;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .drop-menu-link:hover,
  .drop-menu-link:focus {
    color: #ed3b44;
  }

  .drop-menu-nav {
    position: absolute;
    background-color: transparent;
    width: 67px;
    height: 0px;
    z-index: 999;
    overflow: hidden;
    transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .drop-menu-show {
    height: 138px;
  }
}

@media (min-width: 1440px) {
}
