.go-top {
    position: fixed;
    right: 24px;
    bottom: 24px;
    cursor: pointer;
    display: none;
    background-color: #ED3B44;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    fill: #fafafa;
    z-index: 998;
        transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.go-top:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    background-color: #E0373F;
}

.go-top--show {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (min-width: 768px) {
    .go-top {
            right: 30px;
            bottom: 34px;
            width: 60px;
            height: 60px;   
        }
}

@media screen and (min-width: 1440px) {
    .go-top {
            right: 40px;
            bottom: 40px;
            width: 70px;
            height: 70px;
        }
}