.go-top {
    position: fixed;
    right: 24px;
    bottom: 24px;
    /* transform: translateY(-50%); */
    cursor: pointer;
    display: none;
    /* font-size: 20px; */
    background-color: #ED3B44;
    border: 2px solid #f58787;
    /* padding: 20px; */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    fill: #fafafa;
}

.go-top:hover {
    border: 2px solid #fafafa;
    background-color: #E0373F;
}
.go-top:focus {
     border: 2px solid #fafafa;
     background-color: #E0373F;
 }
.go-top--show {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (min-width: 768px) {
    .go-top {
            right: 30px;
            bottom: 34px;
            width: 60px;
            height: 60px;   
        }
}

@media screen and (min-width: 1440px) {
    .go-top {
            right: 40px;
            bottom: 40px;
            width: 70px;
            height: 70px;
        }
}