/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./reset.css');
@import url('./aboutme.css');
@import url('./faq.css');
@import url('./about_3.css');
